# Ruff configuration for this repo
line-length = 100

[lint]
select = [
  "E",  # pycodestyle errors
  "F",  # pyflakes
  "I",  # import sorting
  "UP", # pyupgrade
]
ignore = []

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
